<div class="row">
  <div class="col-md-12">
    <% unless user_signed_in? %>
    <div class="jumbotron text-center">
      <h1> Indivisible Requests </h1>
      <p> Get design and programming help on your Indivisible projects.</p>
      <p>
        <%= link_to new_post_path, class: "btn btn-primary btn-lg" do %>
          Ask for Help <span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>
      </p>
      <p>Reach <%= User.count %> volunteers. Want to help? <%= link_to "Join us here.", new_user_registration_path %></p>
    </div>
    <% end %>

    <h1>
      Latest Requests
      <%= link_to 'Submit Request', new_post_path, class: 'small' %>
    </h1>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-12">
          <h3><%= link_to post.title, post %></h3>
          <%= post.user.username %>,
          <%= pluralize post.view_count, "view" %>,
          <%= pluralize post.follows_count, "follower" %>,
          <%= time_ago_in_words post.created_at %> ago
        </div>
      </div>
    <% end %>

  </div>
</div>
