<div class="row">
  <div class="col-md-12">

    <h1>
      <%= @post.title %>
      <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "small" %>
      <% end %>
    </h1>

    <p>
      <%= link_to 'Back', posts_path %>
    </p>


    <div class="well well-lg">
      <%= @post.body %>
    </div>

    <p>
      <%= @post.user.username %>,
      <%= pluralize @post.view_count, "view" %>,
      <%= time_ago_in_words @post.created_at %> ago
    </p>


  </div>
</div>
